html {
    background-color: black;
}

body {
    background: black url("../images/Attanai.bmp") no-repeat center;
    background-attachment: fixed;
    background-size: contain;
}

.mysterious-box{
    font-family: 'Milonga';
    font-size: 60px;
    position: absolute;
    left: 70%;
    bottom: 20%;
    color: white;
}
